<p-table [value]="data" styleClass="p-datatable-striped m-table">
    <ng-template pTemplate="header">
        <tr>
            @for(col of columns; track col.name) {
            <th>
                {{ col.label }}
            </th>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            @for(col of columns; track col) {
            <td>
                <span class="block-value">{{data[col.name] | format : fieldDefinitions[col.name]}}</span>
            </td>
            }
        </tr>
    </ng-template>
    <ng-template pTemplate="footer">
        <tr>
            @for(col of columns; track col) {
            <td>

                @switch (fieldDefinitions[col.name].aggFn) {
                @case ("none") {
                @if (fieldDefinitions[col.name].type !== 'string') {
                -
                }
                }
                @case ("sum") {
                <span class="block-value">{{ aggs[name][col.name] | format :fieldDefinitions[col.name] }}</span>
                }
                @case ("average") {
                <span class="block-value">{{ aggs[name][col.name]| format :fieldDefinitions[col.name] }}</span>
                }
                }
            </td>

            }
        </tr>
    </ng-template>
</p-table>