<p-table [columns]="columns" [value]="data">
    <ng-template pTemplate="header" let-columns>
        <tr>
            @for(col of columns; track col) {
            <th>
                {{ col }}
            </th>
        }
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-columns="columns">
        <tr>
            @for(col of columns; track col) {
                <td>
                    {{ data[col] }}
                </td>
            }
        </tr>
    </ng-template>
</p-table>